:root {
    --background-color-light: #ffffff;
    --text-color-light: #000000;
    --background-color-dark: #191D28;
    --text-color-dark: #ffffff;
}

body{
    margin: 0;
    padding: 0;
}

.light-theme{
    background-color: var(--background-color-light);
    color: var(--text-color-light);
}

.dark-theme{
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

.switch-toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch-toggle input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .darkModeSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F8F9FA;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .darkModeSlider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #3DC6C1;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .darkModeSlider {
    background-color: #2E3241;
  }
  
  input:focus + .darkModeSlider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .darkModeSlider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .darkModeSlider.darkModeRound {
    border-radius: 34px;
  }
  
  .darkModeSlider.darkModeRound:before {
    border-radius: 50%;
  }

/* navbar */

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px;
}

.nav-logo{
    width: 284px;
    height: 48px;
}

.fixed-footer-container{
    position: relative;
}

.fixed-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #191D28;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
}

.fixed-footer-button{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    color: #17a2b8;
    background-color: transparent;
    border: 1px solid #17a2b8;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.fixed-footer-button:hover{
    background-color: #17a2b8;
    color: #ffffff;
}